<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--stylesheet-->
    <link rel="stylesheet" href="./static/css/style.css">

    <!--bootstrap-->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">

    <!--fontawesome-->
    <link rel="stylesheet" href="./static/css/fontawesome.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200&family=Handlee&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet">

    <!--Meta Data-->
    <title>課業行事曆</title>

    <!-- Favicons 
    <link href="assets/img/Harindulk.jpg" rel="icon">
    <link href="assets/img/Harindulk.jpg" rel="apple-touch-icon">-->

</head>

<body class="bg">

    <div class="space"></div>
    <!-- Profile picture-->
    <img src="./static/img/hi.gif" alt="profile picture" class="profile-picture">

    <!-- Profile name-->
    <div class="profile-name"><b>行事曆 ({{now}})</div>

    <!-- Profile about-->
    <div class="profile-about"><b>功課</div>

    {% for i in data["home_work"] %}
    <!-- Links-->
    <button target="_blank" class="links , hover home_work{{i['text']}}">
        <svg fill="#ffffff" class="links-in" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M10.05 3.828a1.112 1.112 0 0 1 1.11 1.108v10.562a1.112 1.112 0 0 1-1.11 1.108h-8.1a1.112 1.112 0 0 1-1.11-1.108V4.936a1.112 1.112 0 0 1 1.11-1.108h.415v1.108h-.414l-.002.002v10.558l.002.002h8.098l.002-.002V4.938l-.002-.002h-.414V3.828h.416zm-.98 4.076H2.82v1.108h6.25zm0 2.337H2.82v1.108h6.25zm0 2.337H2.82v1.108h6.25zm-.543-8.935v1.25a.476.476 0 0 1-.475.476H3.948a.476.476 0 0 1-.475-.475v-1.25a.476.476 0 0 1 .475-.476h.697V1.87a.476.476 0 0 1 .475-.475h1.76a.476.476 0 0 1 .475.475v1.3h.697a.476.476 0 0 1 .475.474zM6.55 2.67a.554.554 0 1 0-.554.554.554.554 0 0 0 .554-.554z">
                </path>
            </g>
        </svg>
        <b>{{i["date"]}} | {{i['text']}} | {{i['cl']}}</b></button>
    {% if edit %}
    <script>
        var button = document.querySelector('.' + "home_work" + "{{i['text']}}");

        function popup2(e) {

            if (confirm('確定刪除 {{i["date"]}} | {{i["text"]}} | {{i["cl"]}}嗎') == true) {
                window.location.replace("/del/home_work/{{i['text']}}")
            } else {
                console.log('已取消確認');
            }

        };
        button.addEventListener('click', popup2);
    </script>
    {% endif %}
    {%endfor%}

    <div class="profile-about"><b>回條</div>
    {% for i in data["back"] %}
    <!-- Links-->
    <button target="_blank" class="links , hover back{{i['text']}}">
        <svg fill="#ffffff" class="links-in" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M10.05 3.828a1.112 1.112 0 0 1 1.11 1.108v10.562a1.112 1.112 0 0 1-1.11 1.108h-8.1a1.112 1.112 0 0 1-1.11-1.108V4.936a1.112 1.112 0 0 1 1.11-1.108h.415v1.108h-.414l-.002.002v10.558l.002.002h8.098l.002-.002V4.938l-.002-.002h-.414V3.828h.416zm-.98 4.076H2.82v1.108h6.25zm0 2.337H2.82v1.108h6.25zm0 2.337H2.82v1.108h6.25zm-.543-8.935v1.25a.476.476 0 0 1-.475.476H3.948a.476.476 0 0 1-.475-.475v-1.25a.476.476 0 0 1 .475-.476h.697V1.87a.476.476 0 0 1 .475-.475h1.76a.476.476 0 0 1 .475.475v1.3h.697a.476.476 0 0 1 .475.474zM6.55 2.67a.554.554 0 1 0-.554.554.554.554 0 0 0 .554-.554z">
                </path>
            </g>
        </svg>
        <b>{{i["date"]}} | {{i['text']}} | {{i['cl']}}</b></button>
    {% if edit %}
    <script>
        var button = document.querySelector('.' + "back" + "{{i['text']}}");

        function popup2(e) {

            if (confirm('確定刪除 {{i["date"]}} | {{i["text"]}} | {{i["cl"]}} 嗎') == true) {
                window.location.replace("/del/back/{{i['text']}}")
            } else {
                console.log('已取消確認');
            }

        };
        button.addEventListener('click', popup2);
    </script>
    {% endif %}
    {%endfor%}

    <div class="profile-about"><b>考試</div>
    {% for i in data["test"] %}
    <!-- Links-->
    <button target="_blank" class="links , hover test{{i['text']}}">
        <svg viewBox="0 0 48 48" class="links-in" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M28 17C27.4477 17 27 16.5523 27 16V8H14C12.8954 8 12 8.89543 12 10V38C12 39.1046 12.8954 40 14 40H34C35.1046 40 36 39.1046 36 38V17H28ZM38 16V38C38 40.2091 36.2091 42 34 42H14C11.7909 42 10 40.2091 10 38V10C10 7.79086 11.7909 6 14 6H28L38 16ZM29 9.82843L34.1716 15H29V9.82843Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14 33C14 32.4477 14.4477 32 15 32L33 32C33.5523 32 34 32.4477 34 33C34 33.5523 33.5523 34 33 34L15 34C14.4477 34 14 33.5523 14 33Z">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14 37C14 36.4477 14.4477 36 15 36H27C27.5523 36 28 36.4477 28 37C28 37.5523 27.5523 38 27 38H15C14.4477 38 14 37.5523 14 37Z">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 16C20.4037 16 20.7678 16.2427 20.9231 16.6154L25.9231 28.6154C26.1355 29.1252 25.8944 29.7107 25.3846 29.9231C24.8748 30.1355 24.2894 29.8944 24.0769 29.3846L20 19.6L15.9231 29.3846C15.7107 29.8944 15.1252 30.1355 14.6154 29.9231C14.1056 29.7107 13.8645 29.1252 14.0769 28.6154L19.0769 16.6154C19.2322 16.2427 19.5963 16 20 16Z">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 25H24V27H16V25Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M30 22C30.5523 22 31 22.4477 31 23L31 29C31 29.5523 30.5523 30 30 30C29.4477 30 29 29.5523 29 29L29 23C29 22.4477 29.4477 22 30 22Z">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M26 26C26 25.4477 26.4477 25 27 25L33 25C33.5523 25 34 25.4477 34 26C34 26.5523 33.5523 27 33 27L27 27C26.4477 27 26 26.5523 26 26Z">
                </path>
            </g>
        </svg>
        <b>{{i["date"]}} | {{i['text']}} | {{i['cl']}}</b></button>
    {% if edit %}
    <script>
        var button = document.querySelector('.' + "test" + "{{i['text']}}");

        function popup2(e) {

            if (confirm('確定刪除 {{i["date"]}} | {{i["text"]}} | {{i["cl"]}} 嗎') == true) {
                window.location.replace("/del/test/{{i['text']}}")
            } else {
                console.log('已取消確認');
            }

        };
        button.addEventListener('click', popup2);
    </script>
    {% endif %}
    {%endfor%}


    <footer>
        {% if edit %}
        <!--bottom text-->
        <a href="/add" class="link-hide">
            <div class="bottom-text">增加
            </div>
        </a>
        <a href="/" class="link-hide">
            <div class="bottom-text">返回
            </div>
        </a>
        {% else %}
        <a href="/edit" class="link-hide">
            <div class="bottom-text">編輯
            </div>
        </a>

        {% endif %}
    </footer>

</body>

</html>